doc
Meta
.Rproj.user
NDVI_2013.grd
NDVI_2013.gri
NDVI_2013_composite.gri
NDVI_2013_composite.grd
NDVI_2013_Europe.gri
NDVI_2013_Europe.grd
NDVI_2013_Europe_composite.gri
NDVI_2013_Europe_composite.grd
NOAM.dbf
NOAM.prj
NOAM.qpj
NOAM.shp
NOAM.shx
move-model.Rproj
